body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.writeData{
    position: relative;
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    width: 140px;
    height: 5vh;
}
.buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    
}