<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleRead.css">
    <title>Document</title>
</head>
<body>
    <input type="button" class="writeData" value="Главная страница" onclick="window.location.href = '/'">
    <form action="/read" method="POST" class="form">
        <div class="dataName">
            <label>ID</label>
            <input type="text" name="id" class="name" id="name">
        </div>
        <div class="dataName">
            <label>Имя</label>
            <input type="text" name="name" class="name" id="name">
        </div>
        <div class="dataFamily">
            <label>Фамилия</label>
            <input type="text" name="family" class="family" id="family">
        </div>
        <div class="dataPatronymic">
            <label>Отчество</label>
            <input type="text" name="patronymic" class="patronymic" id="patronymic">
        </div>
        <div class="dataBirth">
            <label>Дата рождения</label>
            <input type="date" name="birth" class="birth" id="birth">
        </div>
        <div class="dataPosition">
            <label>Должность</label>
            <input type="text" name="position" class="position" id="position">
        </div>
        <div class="dataExperience">
            <label>Стаж</label>
            <input type="text" name="experience" class="experience" id="experience">
        </div>
        <input type="submit" class="button" name="button" value="Продолжить">
    </form>
</body>
</html>