<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleWrite.css">
    <title>Document</title>
</head>
<body>
    <table class="tableData" id="tableData">
        <thead>
            <tr>
                <td>id</td>
                <td>Имя</td>
                <td>Возраст</td>
            </tr>
        </thead>
        <% for(var i = 0; i< result.length; i++){ %>
            <tr>
                <td><%= result[i]._id%></td>
                <td><%= result[i].name%></td>
                <td><%= result[i].age%></td>
            </tr>
        <% } %>
    </table>
</body>
</html>